// 페이지의 레이아웃 영역
.inner {
    padding-left: $spacer-5;
    padding-right: $spacer-5;
}

@include mobileMore {
    .inner {
        padding-left: $spacer-7;
        padding-right: $spacer-7;
    }
}

@include tabletMore {
    .inner {
        width: 100%;
        max-width: calc(1280px + #{$spacer-7 * 2});
        margin: 0 auto;
    }
}

#wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

#header-top {
    background: $secondary-5;
    font-size: var(--fz-body-sm);
    .inner {
        padding-top: $spacer-2;
        padding-bottom: $spacer-2;
    }
}

#header {
    border-bottom: 1px solid $gray-40;
    .inner {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .head-etc {
        display: none;
    }
    .head-in {
        display: flex;
        justify-content: space-between;
        .util {
            display: flex;
            gap: $spacer-3;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                &:first-child {
                    &::before {
                        content: '\f002';
                        font-family: 'Line Awesome Free';
                        font-weight: 900;
                    }
                }
                &:nth-child(2) {
                    &::before {
                        content: '\f2f6';
                        font-family: 'Line Awesome Free';
                        font-weight: 900;
                    }
                }
                &:nth-child(3) {
                    display: none;
                }
                &:last-child {
                    &::before {
                        content: '\f0c9';
                        font-family: 'Line Awesome Free';
                        font-weight: 900;
                    }
                }
            }
            i {
                font-size: 2.7rem;
            }
        }
    }
}

#gnb {
    display: none;
}

#container {
    flex: 1;
}

#footer {
}
