// 페이지의 레이아웃 영역
.inner {
    padding-left: $spacer-5;
    padding-right: $spacer-5;
}

@include mobileMore {
    .inner {
        padding-left: $spacer-7;
        padding-right: $spacer-7;
    }
}

@include tabletMore {
    .inner {
        width: 100%;
        max-width: calc(1280px + #{$spacer-7 * 2});
        margin: 0 auto;
    }
}

#wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

#header-top {
    background: $secondary-5;
    font-size: var(--fz-body-sm);
    .inner {
        padding-top: $spacer-2;
        padding-bottom: $spacer-2;
    }
}

#header {
    border-bottom: 1px solid $gray-40;
    .inner {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .head-etc {
        display: none;
    }
    #logo a {
        display: block;
        width: 13.2rem;
        height: 100%;
        background: url(https://uiux.egovframe.go.kr/resources/img/pattern/layout/head_logo.svg) no-repeat 0 50%;
        background-size: contain;
        text-indent: -9999px;
    }
    .head-in {
        display: flex;
        justify-content: space-between;
        .util {
            display: flex;
            gap: $spacer-6;
            .btn-nav {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                line-height: 1.5;
                font-size: var(--fz-label-xsm);
                &::before {
                    font-family: 'Line Awesome Free';
                    font-weight: 900;
                    font-size: 2.4rem;
                }
                &.sch {
                    &::before {
                        content: '\f002';
                    }
                }
                &.login {
                    &::before {
                        content: '\f2f6';
                    }
                }
                &.join {
                    display: none;
                    &::before {
                        content: '\f234';
                    }
                }
                &.my {
                    display: none;
                    &::before {
                        content: '\f007';
                    }
                }
                &.all {
                    &::before {
                        content: '\f0c9';
                    }
                }
            }
            i {
                font-size: 2.7rem;
            }
        }
    }
}

@include mobileMore {
    #header .head-in .util .btn-nav {
        font-size: 1.7rem;
    }
}
@include tabletMore {
    #header .head-etc {
        display: block;
    }
    #header .head-in .util .btn-nav.join {
        display: flex;
    }
    #header .head-in .util .btn-nav.my {
        display: flex;
    }
    #header .head-in .util .btn-nav.all {
        display: none;
    }
}

#gnb {
    display: none;
}

#container {
    flex: 1;
}

#footer {
}
