// 페이지의 공통 영역
// em 단위는 부모 요소의 font-size를 기준으로
// 상대적인 크기를 가지는 단위입니다.

// rem 단위는 html 요소의 font-size를 기준으로
// 상대적인 크기를 가지는 단위입니다.

@use 'sass:map';

$sizes: map.get($font-size, 'sizes');
$title: map.get($sizes, 'title');

.bg-gray {
    background-color: $gray-5;
}
.sec-g {
    padding: 150px 0;
}

@include mobileMore {
    .font-test {
        color: blue;
    }
}

@include tabletMore {
    .font-test {
        color: green;
    }
}
