/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset,
img {
    border: 0 none;
}

dl,
ul,
ol,
menu,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

q {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

input,
select,
textarea {
    font-size: 100%;
    vertical-align: middle;
}

button {
    font-size: 100%;
    vertical-align: middle;
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */

input {
    &[type='text'],
    &[type='password'],
    &[type='submit'],
    &[type='search'] {
        appearance: none;
        border-radius: 0;
    }

    &:checked[type='checkbox'] {
        background-color: #666;
        appearance: checkbox;
    }
}

button {
    appearance: button;
    border-radius: 0;
}

input {
    &[type='button'],
    &[type='submit'],
    &[type='reset'],
    &[type='file'] {
        appearance: button;
        border-radius: 0;
    }

    &[type='search']::-webkit-search-cancel-button {
        appearance: none;
    }
}

/* 기본 폰트 설정 */
html {
    font-size: $font-size-root;
}
body {
    font-size: 1.7rem;
    // font-size: $font-size.sizes.body.md;
    line-height: 1.5;
    font-family: $fontFamily;
    color: $gray-90;
    // color: $gray-colors.90;
    font-weight: 400;
}

/* color값은 디자인가이드에 맞게사용 */
// States

// 상태 표시 색상은 상황별 의미를 전달하는 색상으로 4가지 유형으로 사용하며, 기준 색상(Primary color)에서 점진적으로 증가하거나 감소하도록 정의한다.
// https://uiux.egovframe.go.kr/resources/img/guide/contents/style/style_02_01.png

a {
    color: $gray-90;
    text-decoration: none;

    &:active,
    &:hover {
        text-decoration: none;
    }
}
@media screen and (min-width: 1280px) {
    a {
        color: #333;
        text-decoration: none;

        &:active,
        &:hover {
            text-decoration: underline;
        }
    }
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: normal;
}

hr {
    display: none;
}

input[type='password'] {
    font-family: 'Malgun Gothic';
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#skip-nav {
    position: relative;
    z-index: 3000;

    a {
        position: absolute;
        top: -35px;
        left: 0;
        right: 0;
        display: inline-block;
        padding: 7px 10px 5px;
        background: #333;
        color: #fff;
        text-decoration: none;
        text-align: center;
        opacity: 0;

        &:focus {
            top: 0;
            opacity: 1;
            z-index: 1000;
        }
    }
}

/* 이미지 스프라이트 */

.img-g {
    display: inline-block;
    overflow: hidden;
    background: url(../../images/comm/img-comm.png) no-repeat;
    vertical-align: top;
}

/* 이미지 */
/* global */

.ir-pm {
    display: block;
    overflow: hidden;
    font-size: 0px;
    line-height: 0;
    text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */

.ir-wa {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: -10;
    width: 100%;
    height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */

.blind,
caption,
legend {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */

.f_l {
    float: left;
}

.f_r {
    float: right;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.tbl {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
    display: block;
    overflow: visible;
    width: auto;
    clear: both;
    zoom: 1;

    &:after {
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
        clear: both;
        content: '';
    }
}
